
body{
	margin: 0px;
}
#contain{

	height: 2000px;
	}

#hheader{
	margin-top: 0px;
	margin-bottom: 0px ;
	font-size: 50px;
	text-align: center;
	border-bottom:4px solid gray;
	background-color: black;
	color: white;
	width: 100%;
}
 h{

	position: sticky;
	top: 0px;
	width: 100%;
	display: flex;
	justify-content: space-around;
    font-size: small;
	padding-right: 100px;
 	font-size: 50px;
	padding-top: 10px;
	padding-bottom:5px ;
    transform: translateX(-40px);
    background-color: black;
    border-bottom: 2px solid black;
	box-shadow: 2px 2px 5px black ;
	color: white;
	border-bottom:2px solid gray;
font-weight: lighter;}
p1{
	text-align: center;
}

middle{
	display: flex;
	justify-content: space-between;
	margin: 40px;
	padding-top: 90px;
	margin-top: 50px;

}
middle hsw1 p{
	border-bottom: 2px solid black;
}
gr{
	color: darkgrey;
}
footer p{
	text-align: right;
}

#sp{
transform: translateX(-50px);
}
#ts{

transform: translateX(100px);
}

#imgs{

border: 1px solid gray;
}
.stick {
	padding-top: 100px;
}
